.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 30px;
}

.card {
  background: #1a1a1a;
  box-shadow: 5px 5px 10px black;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.card-title {
  margin-top: 10px;
  color: #e8dfe3;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}
