.details-box {
  display: flex;
  gap: 30px;
  padding: 40px;
}

.details-img {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 5px 5px 10px black;
}

.details-info {
  color: #171516;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
}
