.title {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  text-shadow: 3px 3px 5px  black;
  color: rgb(220, 228, 235);
  
}

.form-box {
  width: 350px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  background: #CC95C0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px black;
}

.form-box input {
  margin: 8px 0;
  padding: 10px;
}

button {
  margin-top: 20px;
  padding: 5px;
width: 50%;
margin-left:80px ;
  background: rgb(247, 233, 235);
  border: none;
  font-size: 18px;
  cursor: pointer;

  
}

button:hover {
  
  background: rgb(15, 112, 222);
}
