body {
    background-color:antiquewhite;
}

.h1 {
    text-align: center;
    background-color: aquamarine;
    color: black;
    padding: 20px;
    margin-top: 5px;
    
}

.card-container {
    
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background-color: azure;
    color: blueviolet;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    width: 250px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.card img {
    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 250px; 
    object-fit: cover;
    border-radius: 5px;

}

.footer {
  

     margin-top: 80px;
    padding: 10px;
    background-color: aquamarine;
    color: black;
    text-align: center;
    
}

